## Preprocessing

In [29]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [30]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
columns_to_drop = ['EIN', 'NAME']
application_df = application_df.drop(columns=columns_to_drop)
print(application_df)

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 10 columns]

In [31]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [32]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(value_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [33]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 300

# Get the value counts for 'APPLICATION_TYPE'
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [34]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the result
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [35]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
filtered_classification_counts = classification_counts[classification_counts > 1]

# Display the result
print(filtered_classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [36]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 50

# Get the value counts for 'CLASSIFICATION'
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, 'Other')

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [37]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)

# Display the modified DataFrame
print(application_dummies)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                   False
1           1    108590              1                   False
2           1      5000              0                   False
3           1      6692              1                   False
4           1    142590              1                   False
...       ...       ...            ...                     ...
34294       1      5000              0                   False
34295       1      5000              0                   False
34296       1      5000              0                   False
34297       1      5000              1                   False
34298       1  36500179              0                   False

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                      True                 False                False
1                     False                 False                 True
2                     False                 False                False
3                     False                 False                 True
4                     False                 False                 True
...                     ...                   ...                  ...
34294                 False                 False                False
34295                 False                 False                False
34296                 False                 False                 True
34297                 False                 False                False
34298                 False                 False                 True

       APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    False                False                False  ...
1                    False                False                False  ...
2                    False                 True                False  ...
3                    False                False                False  ...
4                    False                False                False  ...
...                    ...                  ...                  ...  ...
34294                 True                False                False  ...
34295                 True                False                False  ...
34296                False                False                False  ...
34297                False                 True                False  ...
34298                False                False                False  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  False                   False                     False
1                   True                   False                     False
2                  False                   False                     False
3                  False                    True                     False
4                  False                   False                      True
...                  ...                     ...                       ...
34294              False                   False                     False
34295              False                   False                     False
34296              False                   False                     False
34297              False                   False                     False
34298              False                   False                     False

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   False             False                   False
1                   False             False                   False
2                   False             False                   False
3                   False             False                   False
4                   False             False                   False
...                   ...               ...                     ...
34294               False             False                   False
34295               False             False                   False
34296               False             False                   False
34297               False             False                   False
34298               False              True                   False

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                False              False                      True
1                False              False                      True
2                False              False                      True
3                False              False                      True
4                False              False                      True
...                ...                ...                       ...
34294            False              False                      True
34295            False              False                      True
34296            False              False                      True
34297            False              False                      True
34298            False              False                      True

       SPECIAL_CONSIDERATIONS_Y
0                         False
1                         False
2                         False
3                         False
4                         False
...                         ...
34294                     False
34295                     False
34296                     False
34297                     False
34298                     False

[34299 rows x 54 columns]

In [38]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1,)  # Features
X.head(10)

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
5,1,5000,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
6,1,31452,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
7,1,7508025,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
8,1,94389,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
9,1,5000,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False

In [39]:

y = application_dummies['IS_SUCCESSFUL']

In [40]:


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [41]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [42]:
X_scaler = scaler.fit(X_train)

In [43]:


# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

hidden_nodes_layer1 = 25

hidden_nodes_layer2 = 5

print(number_input_features)

nn = tf.keras.models.Sequential()

# 1st hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# 2nd hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

53
Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 25)                1350

 dense_16 (Dense)            (None, 5)                 130

 dense_17 (Dense)            (None, 1)                 6

=================================================================
Total params: 1486 (5.80 KB)
Trainable params: 1486 (5.80 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [52]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [53]:
# Train the model
fit_nn = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5830 - accuracy: 0.7126
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7300
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7320
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7331
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7340
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7340
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7347
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7352
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7359
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7359
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7369
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7368
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7373
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7378
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7371
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7378
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7377
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7384
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7388
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7378
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7382
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7383
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7384
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7386
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7377
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7380
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7384
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7392
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7385
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7390
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7382
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7379
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7397
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7378
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7388
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7389

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5506 - accuracy: 0.7272 - 407ms/epoch - 2ms/step
Loss: 0.5506404042243958, Accuracy: 0.7272303104400635

In [48]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE